##Simple Python code

In [1]:
str1="Happy Birthday"
str1[0]
str1[len(str1)-1]

'y'

##Working on strings

In [2]:
str1[-1]0

'y'

In [3]:
str1[0:6]

'Happy '

In [6]:
str1[len(str1)-1::-1]

'yadhtriB yppaH'

In [9]:
str1[0:len(str1):2]

'HpyBrha'

In [10]:
str1[5::-2]

' pa'

In [11]:
str2="python programming"

In [12]:
str2

'python programming'

In [13]:
str2 *3

'python programmingpython programmingpython programming'

In [15]:
str2[7:]

'programming'

In [16]:
str2[7:]*10

'programmingprogrammingprogrammingprogrammingprogrammingprogrammingprogrammingprogrammingprogrammingprogramming'

In [19]:
print((str2[7:]+"\n")*3)

programming
programming
programming

In [20]:
li=[123,345,'python']
len(li)

3

In [21]:
li[2]

'python'

In [26]:
li[len(li)-1]='programming'
li.append('python')
li

[123, 345, 'programming', 'programming', 'python']

In [27]:
print(li)

[123, 345, 'programming', 'programming', 'python']

In [28]:
li[2:]

['programming', 'programming', 'python']

In [29]:
li.pop()

'python'

In [30]:
li

[123, 345, 'programming', 'programming']

In [31]:
li.remove('programming')

In [32]:
li

[123, 345, 'programming']

In [33]:
li.pop(1)

345

In [34]:
li

[123, 'programming']

In [36]:
li.insert(0,555)

In [37]:
li

[555, 123, 'programming']

In [38]:
li2=[1,2,3]

In [39]:
li.insert(0,li2)

In [40]:
li

[[1, 2, 3], 555, 123, 'programming']

In [41]:
li.append(li2)

In [42]:
li

[[1, 2, 3], 555, 123, 'programming', [1, 2, 3]]

In [43]:
li[0]

[1, 2, 3]

In [44]:
li[0][0]

1

In [46]:
li3=[1,2,3],[4,5,6]

In [49]:
li.extend(li3)

In [50]:
li

[[1, 2, 3],
 555,
 123,
 'programming',
 [1, 2, 3],
 [1, 2, 3],
 555,
 123,
 'programming',
 [1, 2, 3],
 [1, 2, 3],
 [4, 5, 6]]

In [54]:
li4=[[1,2,3],[4,5,6],[7,8,9]]
li4.insert(3,[10,11,12])

In [55]:
li4

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [57]:
li4[1].pop(1)

5

##Loops

In [60]:
for i in range(0,len(li4)):
      for j in range(0,len(li4[i])):
            print(li4[i][j],end= ' ')

1 2 3 4 6 7 8 9 10 11 12

##Working On Tuple

In [65]:
t1=(123,345,567)
t1[2]+t1[1]
t1[len(t1)-1]
t1[1:3]

(345, 567)

##Displaying selected elements

In [66]:
str(t1[0])

'123'

In [67]:
str(t1[1])

'345'

In [69]:
str(t1[0])[1]

'2'

In [72]:
str(t1[0])[1]+" "+str(t1[1])[1]+" "+str(t1[2])[1]

'2 4 6'

In [6]:
#reversing all characters of all eleements in a tuple 
t1=(123,345,567)

In [7]:
t1

(123, 345, 567)

In [9]:
str(t1[0])[2::-1]+str(t1[1])[2::-1]+str(t1[2])[2::-1]

'321543765'

##Taking User From The USER

In [11]:
str1=input("enter a string :" )

enter a string : Python

## Dictionaries

In [16]:
d1={'procedural': 'c' ,'scripting':  'python'}
d1

{'procedural': 'c', 'scripting': 'python'}

In [18]:
d1['scripting']
d1.values()
d1.keys()

dict_keys(['procedural', 'scripting'])

In [19]:
d2={'symbolic':'mathematica','logic':' prolog'}
d1.update(d2) #merging two dictionaries
d1['object oriented']='java ' #adding a new element

In [31]:
d1

{'procedural': 'c',
 'scripting': 'python',
 'symbolic': 'mathematica',
 'logic': ' prolog',
 'object oriented': 'java '}

In [32]:
o1={'java':'javac'}

In [33]:
o2={'c':'./a.out'}

In [34]:
o1.update(o2)

In [35]:
o1

{'java': 'javac', 'c': './a.out'}

In [36]:
li=[[1,2,3],[3,4,5],[5,6,7]]

In [37]:
li

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

In [29]:
d1 ['logic']

' prolog'

##Hari Sarmishta
##8-may-2019

##Problem 1:
####Statement 
For a given number, define a function check if it is divisible  by 2 and 3 but not 4.

####Constraints
Given number will be in the range[1,10000000000] 

 ####Test Cases
 *Check Divisibility(6)-> True
 *Check Divisibility(16)->Fasle
 *Check Divisibility(20)->False

In [54]:
def checkDivisibility(n):
     if(n%2==0 and n%3==0 and n%4!=0):
        return True
     else:
        return False
print(6,checkDivisibility(6))
print(16,checkDivisibility(16))
print(20,checkDivisibility(20))

6 True
16 False
20 False